body {
    font-family: 'Lucida Grande', Verdana, sans-serif;
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #b352eb, #24816c);
    background-size: 100%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    background-color: #000000;
    padding: 15px;
    text-align: center;
}

.header button {
    background-color: #51afe6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.header button:hover {
    background-color: #105799;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.formulario {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
}

.formulario input,
.formulario textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: 'Lucida Grande', Verdana, sans-serif;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color: #52e76b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #18802e;
}

.card {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-left: 10px solid #e02c2c;
}

.card h2 {
    margin-top: 0;
}

.card button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.card button:first-of-type {
    background-color: orange;
}

.card button:first-of-type:hover {
    background-color: #554e0c;
}

.card button:last-of-type {
    background-color: red;
}

.card button:last-of-type:hover {
    background-color: #5e1111;
}
