h1 {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0;
    padding: 15px
}

body {
    margin: 0;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #b352eb, #24816c);
    background-size: 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card {
    width: 75%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-left: 10px solid #f3b121;
    border-radius: 6px;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    color: #000000;
}

body > button {
    display: block;
    margin: 15px auto;
    padding: 12px 25px;
    background: #52e76b;
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    
}

body > button:hover {
    background: #18802e;
}

.card button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.card button:first-of-type {
    background: orange;
}

.card button:first-of-type:hover {
    background: #554e0c;
}

.card button:last-of-type {
    background: red;
}

.card button:last-of-type:hover {
    background: #5e1111;
}

.header {
    background: #000000;
    padding: 12px;
}

.header nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.header button {
    background: #51afe6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
}

.header button:hover {
    background: #105799;
}
